---
import type { CTA, UserCard } from 'src/entities/profile';

interface Props {
    userCard: UserCard
    cta: CTA
}
const {
    userCard,
    cta
} = Astro.props;
const calendlyUrl = import.meta.env.NEXT_PUBLIC_CALENDLY_URL;
---
<!-- User Profile Card -->
<aside
    class="flex overflow-hidden flex-col items-center px-4 py-9 text-center bg-white rounded-3xl max-sm:border-none border border-solid border-gray-950 border-opacity-10 min-w-60 w-[270px] max-sm:w-full"
>
    <img
        src={userCard.avatar.imageUrl}
        alt={userCard.avatar.alt}
        class="object-contain overflow-hidden w-32 max-w-full aspect-square"
    />
    <div class="mt-10 max-w-full max-sm:w-full">
        <h1
            class="text-3xl font-bold leading-none text-gray-900 max-sm:mr-5 max-sm:w-full"
        >
            {userCard.name}
        </h1>
        <p class="mt-2 text-sm leading-none text-gray-700">
            {userCard.title}
        </p>
    </div>
    <a
        class="gap-2.5 self-stretch px-3 py-2.5 mt-10 w-[236px] mx-auto text-base font-bold leading-relaxed text-white bg-[#6C3CE9] hover:bg-[#5B32C7] rounded-md min-h-11"
        href={calendlyUrl}
        target="_blank"
    >
        {cta.button}
    </a>
</aside>
