---
import Header from "@components/Header.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { availableLanguages } from '@utils/language.ts';
import { getContent } from '@utils/getContent.ts';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  return availableLanguages.map(lang => ({ params: { lang } }));
}

const { lang } = Astro.params;
const profile = await getContent(lang);
---

<BaseLayout title={profile.title}>
    <div class="flex flex-col min-h-screen bg-white">
        <Header title={profile.certifications.title} />

        <!-- Main content -->
        <main class="w-full flex flex-1 pb-24">
            <section
                class="w-full flex flex-col flex-1 gap-4 px-0 py-9 max-w-[1091px] max-sm:p-5 max-md:px-16 px-32"
            >
                {profile.certifications.items.map((certification) => (
                    <article class="flex items-center w-full">
                        <Image
                            src={certification.issuer.imageUrl}
                            alt={`${certification.issuer.label} logo`}
                            width={64}
                            height={64}
                            format="webp"
                            quality={80}
                            class="shrink-0 w-16 h-16"
                        />
                        <div
                            class="flex flex-col flex-1 min-w-60 px-6 py-0 max-sm:px-3 max-sm:py-0"
                        >
                            <h2
                                class="text-lg font-bold text-black truncate max-w-full max-sm:text-base max-sm:leading-6"
                                title={certification.title}
                            >
                                {certification.title}
                            </h2>
                            <p
                                class="text-base leading-6 text-gray-900 max-sm:text-sm max-sm:leading-5"
                            >
                                {certification.issuer.label}
                            </p>
                            <p
                                class="text-sm leading-6 text-gray-600 max-sm:text-xs max-sm:leading-5"
                            >
                                {certification.issuedDate}
                            </p>
                        </div>
                    </article>
                ))}
            </section>
        </main>
    </div>
</BaseLayout>
