---
import BaseLayout from '@layouts/BaseLayout.astro';
import LanguageSwitcher from '@components/LanguageSwitcher.astro';
import UserCard from '@components/UserCard.astro';
import Bio from '@components/Bio.astro';
import Footer from '@components/Footer.astro';
import Projects from './_projects/Projects.astro';
import Certifications from './_certifications/Certifications.astro';
import { availableLanguages } from '@utils/language.ts';
import { getContent } from '@utils/getContent.ts';

export async function getStaticPaths() {
  return availableLanguages.map(lang => ({ params: { lang } }));
}
const { lang } = Astro.params;
const profile = await getContent(lang);
---
<BaseLayout title={profile.title} lang={lang}>
    <main
      class="flex overflow-hidden flex-col px-24 py-16 max-md:px-5 max-sm:-mr-1 max-sm:bg-white max-w-[1088px] mx-auto"
    >
      <LanguageSwitcher lang={lang} />

      <div class="flex flex-wrap gap-4 items-start w-full max-md:max-w-full">
        <UserCard userCard={profile.userCard} cta={profile.cta} />

        <!-- Main Content -->
        <section class="flex-1 shrink basis-8 min-w-60 max-md:max-w-full">
          <Bio bio={profile.bio} />

          <Projects projects={profile.projects} />

          <Certifications />

          <Footer />
        </section>
      </div>
    </main>
</BaseLayout>